<!-- Name: Shivam Kaushik
Student Node.: 301363333
Date: 27th Sep 2023 
File Name: content.ejs -->

<footer>
    <nav class="navbar navbar-dark bg-dark text-center text-white" style="position: fixed; width: 100%; bottom: 0; ">
      <div class="text-center p-3" style="margin-left: 500px; height: 30px;">
        © 2023 Copyright All rights reserved
      </div>
    </nav>
</footer>